body {
  margin: 20px;
  background-color: powderblue;
}

h1 {
  background-color: dodgerblue;
  border: 2px solid Black;
  text-align: center;
  font-size:400%;
}

h2 {
  text-align: center;
  font-size: 200%;
  padding: 50px

}

p {
  text-align: center;
  font-size: 160%;
  font-family: courier;
}

.center-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.center-link {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-size: 160%;
  padding: 50px;
}